@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-card {
    background: #121421;
  }
  
  .btn-luxury {
    background: #121421;
    border: 1px solid #D4AF37;
  }
  
  .btn-luxury:hover {
    background: #1F2937;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  .league-spartan {
    font-family: 'League Spartan', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .outfit-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}
